[advisories]
version = 2
db-path = "~/.cargo/advisory-db"
ignore = []

[licenses]
version = 2
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "Zlib",
    "Unicode-3.0",
    "MPL-2.0",
]

[bans]
multiple-versions = "warn"
wildcards = "warn"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
